<div>
  <% @games.each do |game| %>
  <!--data: {"turbolinks"=>false}で記事詳細ページのみturbolinksを切ることで、星の動作をリロードを挟まなくていいようにしている-->
    <div class="card-header"><b><%= link_to game.title, game_path(game.id) ,data: {"turbolinks"=>false} %></b></div>
    <div class="card-content">
      <div class="content average-score">
        <div class="star-rating card-text mb-2">
          <!--frontで評価の割合で星の表示の幅を設定して、backで背後の灰色の星を表示させている-->
          <div class="star-rating-front" style="width: <%= game.review_score_percentage %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
        <div class="average-score-display ml-3 pt-2">
          <%= game.avg_score %>点（<%= game.reviews.count %>件のレビュー）
        </div>
      </div>
      <div class="d-flex bd-highlight mb-3">
        <div class="mr-auto p-2 bd-highlight">
          <% game.tags.each do |tag| %>
            [<%= tag.name %>]
          <% end %>
        </div>
        <div class="p-2 bd-highlight"><%= game.label %>　|</div>
        <div class="p-2 bd-highlight"><%= game.sales_date %></div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @games %>
