<div>メーカー絞り込み
<li><%= link_to 'PCゲーム', pc_path %></li>
<li><%= link_to 'PS4/PS5', ps_path %></li>
<li><%= link_to 'Switch', switch_path %></li>
<li><%= link_to '携帯ゲーム', portable_path %></li>
<li><%= link_to 'スマホ', smartphone_path %></li>
</div>
<div>
  <%= form_tag games_path, method: :get, class: 'boards__searchForm' do %>
      <%= hidden_field_tag :sort, params[:sort] %>
       <%= select_tag :tag_id,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
      {
         prompt: 'タグで絞り込み検索',
         onchange: 'submit(this.form);'
      }
      %>
    <% end %>
</div>