<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'leftbar' %>
    </div>
    <div class="col-8">
  <h4><strong>記事一覧全<%= @games.count %>件</strong></h4>
<table>
  <% @games.each do |game| %>
    <tr>
      <p><%= link_to game.title, game_path(game.id) %></p>
      <p><%= game.introduction %></p>
      <p><%= game.release %></p>
        <% game.tags.each do |tag| %>
          <span><%= tag.name %></span>
        <% end %>
        <!--調整後星を入れる-->
        <div class="card-content">
  <div class="content average-score">
    <div class="star-rating mb-2">
      <div class="star-rating-front" style="width: <%= game.review_score_percentage %>%">★★★★★</div>
      <div class="star-rating-back">★★★★★</div>
    </div>
    <div class="average-score-display ml-3 pt-2">
      <%= game.avg_score %>点（<%= game.reviews.count %>件のレビュー）
    </div>
  </div>
</div>

     </tr>
  <% end %>
</table>

<%= paginate @games %>
</div>
<div class="col-2">
  <%= render 'rightbar' %>
</div>
    </div>
  </div>
</div>
