<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'public/games/leftbar' %>
      <%= render 'public/games/rightbar' %>
    </div>

    <div class="col-10">
      <h4><strong><%= @game.title %></strong></h4>
      <%= render "public/shared/error_messages", resource: @review %>
      <div class="row">
        <div ><%#= link_to (image_tag(@game.image_url)), @game.item_url %></div>
        <div class="col-5 d-flex align-items-center">
          <%= link_to @game.item_url do %>
            <%= image_tag @game.image_url, width: '100%', height: '100%' %>
          <% end %>
        </div>
        <div class="col-7">
          <%= @game.item_caption %>
        </div>
      </div>

      <% @game.tags.each do |tag| %>
        [<%= tag.name %>]
      <% end %>
      <span><%= @game.label %></span> |
      <span><%= @game.sales_date %></span>

      <% if admin_signed_in? %>
        <%= link_to '記事を編集', edit_admin_game_path(@game), class: 'btn btn-outline-success' %>
        <%= link_to '記事を削除', admin_game_path, class: 'btn btn-outline-danger', method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
      <% end %>



      <!--style="width: @game.review_score_percentage %で星を割合で表示している。-->
      <div class="card-content">
        <div class="content average-score">
          <div class="star-rating mb-2">
            <div class="star-rating-front" style="width: <%= @game.review_score_percentage %>%">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
          </div>
          <div class="average-score-display ml-3 pt-2">
            <%= @game.avg_score %>点（<%= @game.reviews.count %>件のレビュー）
          </div>
        </div>
      </div>

      <table class="table is-fullwidth has-text-centered">
        <thead>
          <tr>
            <th>ユーザー</th><th>タイトル</th><th>内容</th><th>点数</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td><%= review.user.name %></td>
              <td><%= review.review_title %></td>
              <td><%= review.review_comment %></td>
              <td class="star">
                <!--rateの得点の数だけfor文で★を表示-->
                <% if review.rate? %>
                  <% for i in 1..review.rate do %>
                    ★
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to 'コメントを書く', new_review_comment_path(review.id), class: 'btn btn-outline-success' %>
              <% if user_signed_in? && current_user.id == review.user_id %>
                <%= link_to '削除', game_review_path(@game,review.id), class: 'btn btn-outline-danger', method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
              <% end %>
              <% if admin_signed_in? %>
                <%= link_to 'レビューを削除', admin_review_path(review), class: 'btn btn-outline-danger', method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
              <% end %>
              </td>
              <tr>
              <% review.comments.each do |comment| %>
              <td></td>
              <td><span><%= comment.user.name %></span></td>
              <td><span><%= comment.comment %></span></td>
                <td>
                  <% if user_signed_in? && current_user.id == comment.user_id %>
                    <%= link_to '削除', review_comment_path(review.id,comment.id), class: 'btn btn-outline-danger', method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
                  <% end %>
                  <% if admin_signed_in? %>
                    <%= link_to '削除', admin_comment_path(comment), class: 'btn btn-outline-danger', method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
                  <% end %>
                </td>
              <% end %>
              </tr>

            </tr>

          <% end %>
        </tbody>
      </table>
      <%= render 'public/reviews/form', review: @review, game: @game %>
    </div>
    <!--<div class="col-2">-->
      <%#= render 'public/games/rightbar' %>
    <!--</div>-->
  </div>
</div>
