<div class="container">
  <%= form_with model: @game, url: admin_game_path(@game) do |f| %>
  <div class="row">
    <div class="col-10">
      <h4><strong>記事情報編集</strong></h4>
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :title, "ゲームタイトル" %></td>
            <td><%= f.text_field :title, class: 'form-control game_name', placeholder: "ゲームタイトル" %></td>
          </tr>
          <tr>
            <td><%= f.label :item_caption, "ゲーム紹介文" %></td>
            <td><%= f.text_area :item_caption, rows: 5, class: 'form-control', placeholder: "ここに説明文を記述します" %></td>
          </tr>
          <tr>
            <td><%= f.label :sales_date, "発売日" %></td>
            <td><%= f.text_field :sales_date, class: 'form-control', placeholder: "yyyy/mm/dd" %></td>
          </tr>
        </table>
      </div>
    </div>
    <p>タグ</p>

    <div class="row">
      <%= collection_check_boxes(:game, :tag_ids, Tag.all, :id, :name) do |tag| %>
       <div class="col-sm-4 mb-3">
          <div class="card-text">
            <label class="list-group-item">
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.text %>
              <% end %>
            </label>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content">
      <%= f.submit "変更を保存", class: 'btn btn-block btn-success' %>
    </div>
  <% end %>
</div>
