<div class="container">
  <div class="row">
    <div class="col-10">
      <h4><strong>新規記事作成</strong></h4>

      <p>APIサーチ画面</p>
      <!--検索バーを表示-->
      <%= form_with url: new_admin_game_path, method: :get do %>
        <%= text_field_tag :title, @title, placeholder: "検索したい名前を入力" %>
        <%= button_tag "探す" %>
      <% end %>

      <!--検索結果を表示-->
      <% if @books %>
        <% @books.each do |book| %>
          <!--hidden_fieldで画像、タイトル等の情報を送り、説明を表示させています。-->
          <div style="flex-direction: row;">
            <div class="book_date">
              <!--表示させたい情報を記述-->
              <%= form_with model: @game,url: admin_games_path do |f| %>
              <!--楽天の商品URLに画像URLを乗せて表示している。クリックすると楽天の商品ページへ飛ぶ-->
                <!--この記述でも同じく表示はできるが、サイズを指定できていないので切り分けて記述している。-->
                <%#= link_to (image_tag(book.image_url)), book.item_url %>
                <!--book.◯◯ は楽天ブックスから欲しいデータを表示する為に使われている。-->
                <div>
                  <%= link_to book.item_url do %>
                    <%= image_tag book.image_url, width: '30%', height: '30%' %>
                  <% end %>
                  <%= book.title %>
                </div>
                <%= book.label %>
                <%= book.sales_date %>
                <%= book.item_caption %>
                <%= book.jan %>

                <!--ここでその情報を送り、投稿でそのままDBに保存できる様にしている-->
                <%= f.hidden_field :title,value: book.title %>
                <%= f.hidden_field :item_caption,value: book.item_caption %>
                <%= f.hidden_field :sales_date,value: book.sales_date %>
                <%= f.hidden_field :label,value: book.label %>
                <%= f.hidden_field :jan,value: book.jan %>
                <%= f.hidden_field :item_url,value: book.item_url %>
                <%= f.hidden_field :image_url,value: book.image_url %>

                <div class="text-center"><%= f.submit"記事を投稿", class: 'btn btn-block btn-success' %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>