<div class="container">
  <div class="row">
    <div class="col-6 my-5 ml-5">
      <div class="card">
        <div><h5 class="card-header"><strong>タグ一覧/追加</strong></h5>
          <%= form_with model: @tag, url:admin_tags_path do |f| %>
            <div class="card-body">
              <%= render "admin/shared/error_messages", resource: @tag %>
              <p>
                <%= f.label :name, 'タグ名:' %>
                <%= f.text_field :name, placeholder: "追加するタグ名を入力", class: 'form-control' %>
              </p>
              <div class="card-text text-right"><%= f.submit '新規登録', class: 'btn btn-success' %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col-sm-3 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= tag.name %></h5>
            <div class="card-text text-right"><%= link_to "編集する", edit_admin_tag_path(tag.id), class: "btn btn-success" %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
