<div class="container">
  <div class="row">
    <div class="col-6 my-5 ml-5">
      <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
        <div class="card text">
          <div class="card-header"><h4><strong><%= @user.name %>さんの会員情報編集</strong><h4></div>
          <div class="card-body">
            <table class="my-3">
              <tr>
                <td>会員ID</td>
                <td>: <%= @user.id %></td>
              </tr>
              <tr>
                <td>氏名</td>
                <td>: <%= f.text_field :name %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td>: <%= f.text_field :email %></td>
              </tr>
              <tr>
                <td>会員ステータス</td>
                <!--ボタンでtrueとfalseを切り替えることで論理削除を行なっている。-->
                <td>
                  : <%= f.radio_button :is_active, :true %><%= f.label :is_active, "有効" %>
                  | <%= f.radio_button :is_active, :false %><%= f.label :is_active, "退会" %>
                </td>
              </tr>
            </table>
            <div class="card-text text-right">
              <%= f.submit '変更を保存',class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>