<div class="container">
  <div class="row">
    <div class="col-10">
      <card class="header"></card>
      <h4 class="mx-5 my-5", style="background-color: #eee; width:220px; padding-left: 12px; margin-bottom: 40px;"><strong>会員一覧</strong></h4>
      <table class='table table-striped table-hover'>
        <thead>
            <th>会員ID</th>
            <th><u>氏名</u></th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to admin_user_path(user),class: 'text-dark' do %>
                <u><%= user.name %></u>
                <% end %>
              </td>
              <td><%= user.email %></td>
              <% if user.is_active == true %>
                <td class="text-success">有効</td>
              <% else %>
                <td class="text-secondary">退会</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>