<div class="container">
  <div class="row">
    <div class="col-10">
      <h4><strong>ログイン</strong></h4>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      
      <h5 class = "mx-3 my-4", style="background-color: #eee; width:260px;  text-align: center; margin-bottom: 20px;"><b>会員登録がお済みでない方</b></h6>
      
      
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>