<div class="container">
  <div class="row">
    <div class="col-6 my-5 ml-5">
      <div class="card text">
        <%= render "public/shared/error_messages", resource: @user %>
        <%= form_with model: @user, url: infomation_path(@user.id) do |f| %>
          <div class="card-header"><h4><strong><%= @user.name %>さんの会員情報編集</strong><h4></div>
          <div class="card-body">
            <table class="my-3">
              <tr>
                <td>会員ID</td>
                <td>: <%= @user.id %></td>
              </tr>
              <tr>
                <td>氏名</td>
                <td><%= f.text_field :name %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= f.text_field :email %></td>
              </tr>
            </table>
            <div class="card-text text-right">
              <%= link_to '退会する', confirm_path, class: 'btn btn-outline-danger' %>
              <%= f.submit '変更を保存',class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>