<!DOCTYPE html>
<html>
  <head>
    <title>ReviewGames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<% if user_signed_in? %>
 <li>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
 </li>
<% elsif admin_signed_in? %>
 <li>
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
 </li>
<% else %>
 <li>
  <%= link_to "新規登録", new_user_registration_path %>
 </li>
 <li>
  <%= link_to "ログイン", new_user_session_path %>
 </li>
 <li>
  <%= link_to "管理者ログイン", new_admin_session_path %>
 </li>

<% end %>
<div class="row">
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
</div>

  <body>
    <%= yield %>
  </body>
</html>
